<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SignalFilt.com</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="eleven column" style="margin-top: 25%">

<h1>SignalFilt.com</h1>
<h2>An API for timeseries filtering</h2>
<p>
If you have timeseries data (like stock prices, heartrate, car speed, daily weight, etc.) that you want to smooth or
filter a good way to do it is with a digital filter. A very simple, and pretty poor, digital filter is the moving average
where you take all the samples in a time window and average them.
</p><p>
A better way to do this is using a properly designed digital filter like a FIR filter (a moving average is a simple
implementation of a FIR filter). This site lets you make a "cloud" filter, stream in data, and have it stream out the filtered
data. It's built using Flask, MongoDB, and the Python scientific stack. The project source code is available on
<a href="https://github.com/gallamine/filtering_site">Github</a>. Pull requests accepted!
</p>

<h3>How to Use</h3>
<p>
<ol>
    <li>Create a filter (filter/new/?num_taps=XX&cutoff=0.5). Returns FID for accessing it in the future
    <li>Pass data into filter. (filter/run?fid=FID&data=comma-separated-list-of-numbers). Return output.
    <li>Get taps back from a filter (filter/taps?fid=FID
    <li>Get plots of the spectrum (filter/&#x3C;fid&#x3E;/plots/spectrum)
    <li>Get plots of the taps (filter/&#x3C;fid&#x3E;/plots/taps)
</ol>
</p>

<h3>Example</h3>
          <p>
Request a filter:

<blockquote>
curl http://www.signalfilt.com/filter/new
    </blockquote>
Returns:
<blockquote>
{"fid": "ba644c5c-2ff5-4cdd-94af-918f9517ec12"}
</blockquote>

Get the filter taps:

<blockquote>
curl http://www.signalfilt.com/filter/taps?fid=ba644c5c-2ff5-4cdd-94af-918f9517ec12
</blockquote>
Returns
<blockquote>
    {"taps": [-2.699590722999809e-05, -9.571648736609075e-05, 0.00022746057046863687, 0.0004532889927679489, -0.0008123695659798543, -0.0013526853178325636, 0.002131832417054574, 0.0032182039343885928, -0.004693094712191772, -0.006654672412400711, 0.009225516486430906, 0.012566939975580282, -0.01690659534195153, -0.02259366850583002, 0.030216521337431083, 0.040879325585750456, -0.05695458800751139, -0.0846422455799253, 0.14676275681380313, 0.44905078572454343, 0.44905078572454343, 0.14676275681380313, -0.0846422455799253, -0.05695458800751139, 0.040879325585750456, 0.030216521337431083, -0.02259366850583002, -0.01690659534195153, 0.012566939975580282, 0.009225516486430906, -0.006654672412400711, -0.004693094712191772, 0.0032182039343885928, 0.002131832417054574, -0.0013526853178325636, -0.0008123695659798543, 0.0004532889927679489, 0.00022746057046863687, -9.571648736609075e-05, -2.699590722999809e-05]}
</blockquote>
</p>
          <p>
You can see what the filter response is for a given type of filter by visiting:

http://www.signalfilt.com/filter/&#x3C;fid&#x3E;/plots/spectrum

or

http://www.signalfilt.com/filter/&#x3C;fid&#x3E;/plots/taps
</p>
          <p>
For example,

<blockquote>
    http://www.signalfilt.com/spectrum/fir?num_taps=40&cutoff=0.4
</blockquote>
        returns:
          </p>
<p>
    <img src="http://www.signalfilt.com/spectrum/fir?num_taps=40&cutoff=0.4">
</p>

<h1>About</h1>
<p>
    SignalFilt.com is a creation of <a href="http://www.gallamine.com">William Cox</a> (<a href="http://www.twitter.com/gallamine">@gallamine</a>).
</p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>